.contenedor-server {
  background-color: #e9d981
}

.titulo {
  text-decoration: underline;
  text-align: center;
  background-color: #e9d981;
  padding: 10px;
}

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #e9d981;

}

.boton {
  border: none;
  background-color: black;
  color: #ecd449;
  border-radius: 10px;
  padding: 5px;
}